.form__input {
  height: 3em;
  width: 100%;
  font-size: 2rem;
  background: #1c382f;
  color: #fff;
  border: 1px solid #183129;
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.1);
  padding: 1em;
}